body, p, td, a, div, span {
  font-family : Arial, Helvetica, Sans-Serif;
  font-size:    11px;
}

li {
  list-style-image: url(img/bullet-7x7.gif);
}

a:visited  {
	text-decoration : none;
	color :       #0066FF;
}

a:link  {
	text-decoration : none;
	color :       #0066FF;
}

a:active  {
	text-decoration : none;
	color :       #FF9900;
}

a:hover {
	text-decoration : none;
	color :       #FF9900;
}

.text {
	font-size :   11px;
}

.smalltext {
	font-size :   9px;
}

.pagetitle {
	font-size:    16px;
	color:        #0066FF;
	font-weight:  bold;
	text-align:   left;
}

table.title {
  background-color: #6699FF
}

td.title {
	font-size: 11px;
	background-color: #6699FF;
	color: #FFFFFF;
	text-align: left;
}

td.textentry {
	font-size: 11px;
	background-color: #FFFFFF;
	color: #000000;
	text-align: left;
}

.subtitle {
	font-size:    14px;
	color:        #0066FF;
	font-weight:  bold;
	text-align:   left;
}

.caption_blue {
	font-size: 11px;
	color: #0066FF;
	font-weight: bold;
	text-align: left;
}

.caption_grey {
	font-size: 11px;
	color: #CCCCFF;
	font-weight: bold;
	text-align: left;
}

.caption_orange {
	font-size: 11px;
	color: #ff9900;
	font-weight: bold;
	text-align: left;
}

.foot {
	font-size: 12px;
	color: #CCCCFF;
}

.footnote {
  font-size: 9px;
  color: #6699FF;
  text-align: center;
}


a.shortnote:active {
  text-decoration : none;
  font-weight:      normal;
  color :           #0066FF;
  font-size :       9pt;
}

a.shortnote:hover {
  text-decoration : none;
  font-weight:      normal;
  color :           #ff9900;
  font-size :       9pt;
}

a.shortnote:link {
  text-decoration : none;
  font-weight:      normal;
  color :           #0066FF;
  font-size :       9pt;
}

a.shortnote:visited {
  text-decoration : none;
  font-weight:      normal;
  color :           #0066FF;
  font-size :       9pt;
}

table.form {
	background-color : #6699FF;
	color : #CCCCFF;
	font-weight : bold;
	text-align : center;
	Font-Size : 9pt;
}

.formtitle {
	color : #CCCCFF;
	font-weight : bold;
	text-align : center;
	vertical-align: top;
	Font-Size : 14pt;
}

.formcaption {
	color : #6699FF;
	font-weight : bold;
	text-align : left;
	vertical-align: top;
	Font-Size : 11px;
}

.formcaption_optional {
	color : #6699FF;
	text-align : left;
	vertical-align: top;
	Font-Size : 11px;
}

.formtext {
	color : #CCCCFF;
	font-weight : normal;
	text-align : left;
	vertical-align: top;
	Font-Size : 9pt;
}

.formfield {
	color : #000000;
	text-align : left;
	vertical-align: top;
	Font-Size : 9pt;
}

.formerror {
	color : #FF0000;
	font-weight : bold;
	text-align : left;
	vertical-align: top;
	Font-Size : 9pt;
}

a.form:visited  {
	text-decoration : underline;
	font-weight: bold;
	color : #CCCCFF;
	Font-Size : 9pt;
}

a.form:link  {
	text-decoration : underline;
	font-weight: bold;
	color : #CCCCFF;
	Font-Size : 9pt;
}

a.form:active  {
	text-decoration : underline;
	font-weight: bold;
	color : #CCCCFF;
	Font-Size : 9pt;
}

a.form:hover {
	text-decoration : underline;
	font-weight: bold;
	color : #CCCCFF;
	Font-Size : 9pt;
}

.title {
	font-size:        14px;
	color:            #0066FF;
	font-weight:      bold;
}

td.title {
	font-size:        14px;
	background-color: #ffffff;
	color:						#0066ff;
	padding:          10px;
}

td.text {
	font-size :       11px;
	padding:          10px;
}

td.image {
	padding:          0px;
}

table.termin {
	border-width: 1px;
	border-style: solid;
	border-color: #6699FF;
}

td.termintitle {
	font-size : 9px;
	background-color: #6699FF;
	color: #FFFFFF;
	text-align: left;
	font-weight: bold;
}

td.termin {
	font-size : 9px;
	vertical-align: top;
}

td.terminfooter {
	font-size : 9px;
	color: #6699FF;
	text-align: left;
}